﻿<script src="/areas/workflow/js/response/simplemodularprogram/responsedetails.js"></script>

<!-- ko stopBinding: true -->

<section id="ModularProgramResponseDetail">
    <article class="alert alert-info" data-bind="hidden:true" style="width:600px;margin:24px auto;text-align:center;">
        <p>Loading Response Documents...</p>
    </article>
    <section style="margin-top:15px;display:none;" data-bind="visible:true;">
        <article class="panel panel-default" data-bind="visible: IsResponseVisible() != null && IsResponseVisible() == false">
            <div class="panel-heading">
                <h4 class="panel-title">Response Pending Approval</h4>
            </div>
            <div class="panel-body">
                <span>
                    The response can't be viewed as you don't have permission to view unapproved responses.
                </span>
            </div>
        </article>

        <div data-bind="visible: IsResponseVisible">
            <article class="panel panel-default" data-bind="visible:ResponseView() != 'AggregateResponse'">
                <div class="panel-heading">
                    <h4 class="panel-title">Response Documents</h4>
                </div>

                <table class="panel-body table table-striped table-bordered">
                    <colgroup>
                        <col style="width:30%; vertical-align:middle;" />
                        <col style="vertical-align: middle;" />
                        <col style="width: 110px; vertical-align: middle;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="bold">Source</th>
                            <th class="bold">File Name</th>
                            <th class="bold" style="text-align:center;">Size</th>
                            <th class="bold">Document Type</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: { data:Documents, as:'file'}">
                        <tr>
                            <td data-bind="text:file.ItemTitle"></td>
                            <td data-bind="html:Workflow.SimpleModularProgram.ResponseDetail.Utils.buildDownloadLink(file.ID, file.FileName, file.Name)"></td>
                            <td data-bind="text:Global.Helpers.formatFileSize(file.Length)" style="text-align:right;"></td>
                            <td>
                                <!--ko if: file.DocumentType == 0-->
                                <i class="glyphicon glyphicon-arrow-left"></i>
                                <!--/ko-->
                                <!--ko if: file.DocumentType == 2-->
                                <i class="glyphicon glyphicon-arrow-left"></i>
                                <!--/ko-->
                                <!--ko if: file.DocumentType == 1-->
                                <i class="glyphicon glyphicon-arrow-right"></i>
                                <!--/ko-->
                                <!--ko if: file.DocumentType == 3-->
                                <i class="glyphicon glyphicon-arrow-right"></i>
                                <!--/ko-->
                                <span data-bind="text: file.DocumentType == null? 'Output' : Global.Helpers.GetEnumString(Dns.Enums.RequestDocumentTypeTranslation, file.DocumentType)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
            @*<br style="clear:both"/>
            <div class="panel-body" style="height:315px;overflow:auto" data-bind="foreach: {data:Routings, as: 'datamart' }">
                <h5 data-bind="text:DataMart"></h5>
                <div id="gDocuments" data-bind="kendoGrid: {
                data: $root.DataSource,
                sortable: true,
                filterable: false,
                resizable: true,
                reorderable: false,
                selectable:'row',
                scrollable: true,
                pageable: false,
                change: $root.onRowSelectionChange,
                groupable: false,
                detailInit: $root.onDetailInit,
                columnMenu: { columns: true },
                columns: [
                    {field: 'FormattedDocumentName()', title: 'Name', encoded:false },
                    {field: 'Description()', title: 'Description', hidden:false },
                    {field: 'FormattedLength()', title: 'Size', attributes: { style: 'text-align:right;' }, width:95, headerAttributes: { style: 'text-align:center;' } },
                    {field: 'FormattedCreatedOn()', title: 'Date', width:155 },
                    {field: 'FormattedUploadedBy()', title: 'UploadedBy', hidden:false },
                    {field: 'Version()', title: 'Version', hidden:true, width:95 },
                    {field: 'ID', title: 'Revision Set', hidden:true }
                ]
            }">
                </div>
            </div>*@
        </div>
    </section>
</section>

<!-- /ko -->
