﻿@using System.Web.Configuration
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="0">
    <meta http-equiv="PRAGMA" content="NO-CACHE">

    <title>@(ViewBag.Title ?? "Distributed Network Solution")</title>

    @if (System.Web.HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="@this.ResourceUrl("/content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@this.ResourceUrl("/content/bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet" />
    }
    else
    {
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" />
    }

    <link href="@this.ResourceUrl("/content/kendo/2019.3.917/kendo.common-bootstrap.min.css")" rel="stylesheet" />
    <link href="@this.ResourceUrl("/content/kendo/2019.3.917/kendo.bootstrap.min.css")" rel="stylesheet" />


    <link href="@this.ResourceUrl("/content/site.css")" rel="stylesheet" />

    <link href="/content/Layout.css" rel="stylesheet" />
    <script>
        var ServiceUrl = "@System.Web.Configuration.WebConfigurationManager.AppSettings["ServiceUrl"]";
        var ResourceUrl = "@System.Web.Configuration.WebConfigurationManager.AppSettings["ResourceUrl"].TrimEnd('/')";
    </script>

    @Html.RenderStylesheets()

    @if (System.Web.HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="@this.ResourceUrl("/scripts/es6-shim/es6-shim.js")"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
        <script>if (typeof window.Modernizr == 'undefined' || window.Modernizr == null) document.write('<script src="@this.ResourceUrl("/scripts/moderniz/modernizr.min.js")"><\/script>'); </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
        <script> if (typeof window.jQuery == 'undefined' || window.jQuery == null) document.write('<script src="@this.ResourceUrl("/scripts/jquery/2.2.3/jquery.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script>if (typeof $.cookie == 'undefined' || $.cookie == null) document.write('<script src="@this.ResourceUrl("/scripts/jquery.cookie/jquery.cookie.js")"><\/script>'); </script>
        <script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.js"></script>
        <script>if (typeof $.connection == 'undefined'  || $.connection == null) document.write('<script src="@this.ResourceUrl("/scripts/signalr/jquery.signalR.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js"></script>
        <script>moment || document.write('<script src="@this.ResourceUrl("/scripts/moment/moment.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>
        <script>if ( typeof ko == 'undefined' || ko == null) document.write('<script src="@this.ResourceUrl("/scripts/knockout/knockout-latest.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.js"></script>
        <script>ko.validation || document.write('<script src="@this.ResourceUrl("/scripts/knockout-validation/knockout.validation.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
        <script>ko.mapping || document.write('<script src="@this.ResourceUrl("/scripts/knockout-mapping/knockout.mapping.js")"><\/script>');</script>
        <script src="@this.ResourceUrl("/scripts/knockout-bootstrap/knockout-bootstrap.min.js")"></script>
        <script src="@this.ResourceUrl("/scripts/linq/linq.js")"></script>
        <script src="@this.ResourceUrl("/scripts/linq/jquery.linq.js")"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/purl/2.3.1/purl.js"></script>
        <script src="@this.ResourceUrl("/scripts/kendo/2019.3.917/kendo.web.min.js")"></script>
        <script src="@this.ResourceUrl("/scripts/knockout-kendo/knockout-kendo.js")"></script>
    }
    else
    {
        <script src="@this.ResourceUrl("/scripts/es6-shim/es6-shim.min.js")"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script>if (typeof window.Modernizr == 'undefined' || window.Modernizr == null) document.write('<script src="@this.ResourceUrl("/scripts/modernizr/modernizr.min.js")"><\/script>'); </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script>if (typeof window.jQuery == 'undefined' || window.jQuery == null) document.write('<script src="@this.ResourceUrl("/scripts/jquery/2.2.3/jquery.min.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>if (typeof $.cookie == 'undefined' || $.cookie == null) document.write('<script src="@this.ResourceUrl("/scripts/jquery.cookie/jquery.cookie.js")"><\/script>'); </script>
        <script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.js"></script>
        <script>if (typeof $.connection == 'undefined' || $.connection == null) document.write('<script src="@this.ResourceUrl("/scripts/signalr/jquery.signalR.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
        <script>moment || document.write('<script src="@this.ResourceUrl("/scripts/moment/moment.min.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <script>if (typeof ko == 'undefined' || ko == null) document.write('<script src="@this.ResourceUrl("/scripts/knockout/knockout-latest.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js"></script>
        <script>ko.validation || document.write('<script src="@this.ResourceUrl("/scripts/knockout-validation/knockout.validation.min.js")"><\/script>');</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
        <script>ko.mapping || document.write('<script src="@this.ResourceUrl("/scripts/knockout-mapping/knockout.mapping.min.js")"><\/script>');</script>
        <script src="@this.ResourceUrl("/scripts/knockout-bootstrap/knockout-bootstrap.min.js")"></script>
        <script src="@this.ResourceUrl("/scripts/linq/linq.min.js")"></script>
        <script src="@this.ResourceUrl("/scripts/linq/jquery.linq.min.js")"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/purl/2.3.1/purl.min.js"></script>
        <script src="@this.ResourceUrl("/scripts/kendo/2019.3.917/kendo.web.min.js")"></script>
        <script src="@this.ResourceUrl("/scripts/knockout-kendo/knockout-kendo.min.js")"></script>
    }

    <script src="@this.ResourceUrl("/scripts/kendo/2019.3.917/kendo.data.webapi.js")"></script>

    <script src="@this.ResourceUrl("/scripts/custombindings/customknockoutbindings.js")"></script>
    <script src="/scripts/utilities.js"></script>

    <script src="@WebConfigurationManager.AppSettings["ServiceUrl"].TrimEnd('/')/scripts/Lpp.dns.interfaces.js"></script>
    <script src="@WebConfigurationManager.AppSettings["ServiceUrl"].TrimEnd('/')/scripts/Lpp.dns.viewmodels.js"></script>
    <script src="@WebConfigurationManager.AppSettings["ServiceUrl"].TrimEnd('/')/scripts/Lpp.dns.webapi.js"></script>


    <script src="@this.ResourceUrl("/scripts/page/page.js")"></script>
    <script src="@this.ResourceUrl("/scripts/expandomenu/expandomenu.js")"></script>

    <script src="@this.ResourceUrl("/scripts/termvalidators/termvalidators.js")"></script>

    <script src="/js/_rootlayout.js"></script>
    <link href="/content/print.css" rel="stylesheet" media="print" />
    @RenderSection("Head", false)
    @Html.RenderScripts()
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>