﻿@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/_Layout.cshtml";
}

@section Head {
    <script src="~/js/Groups/Index.js"></script>
}
<article class="panel panel-default" data-bind="css: {visible: true}">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/groups">Groups</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <div id="gGroups" style="min-height: 400px;" data-bind="kendoGrid: {
            data: ds,
            sortable: true,
            filterable: true,
            resizable: true,
            reorderable: true,
            columnMenu: { columns: true },
            columnMenuInit: $root.onColumnMenuInit,
            scrollable: false,
            pageable: false,
            columns: [
                {field: 'Name', title: 'Name', template: Groups.Index.NameAchor}
            ]
             }">
        </div>
    </div>
    <nav class="panel-footer right">
        <button class="btn btn-default" id="btnNewGroup" data-bind="click: btnNewGroup_Click, visible: HasPermission(PMNPermissions.Portal.CreateGroup)"><img src="@this.ResourceUrl("/images/Add16.png")" alt="Add Group" />Add Group</button>
    </nav>
</article>