﻿@* GeneratePrettyNames : true *@
@model Lpp.Dns.HealthCare.ESPQueryBuilder.Models.ESPQueryBuilderModel

@{
    var id = Html.UniqueId();
    Layout = null;
    var btnID = string.Format("btnSelectCode{0}", id);
    var displaySelectedID = string.Format("displayCodes{0}", id);
    var codesID = string.Format("Codes{0}", id);
}

<div class="PrimaryPayerSelectorTerm Term panel panel-default">
    <input name="TermName" value="PrimaryPayerSelector" hidden="hidden" style="display:none" />
    <div class="panel-heading">
        <div class="ui-button-remove"></div>
        Primary Payers
    </div>
    <div class="PrimaryPayerSelector panel-body">
        <button type="button" class="btn btn-default" id="@btnID">Select...</button>
        <label style="margin-left:24px;">Selected Payers:&nbsp;</label>
        <span style="word-wrap:break-word;" id="@displaySelectedID">@Model.Codes</span>
        <input type="hidden" name="Codes" id="@codesID" value="@Model.Codes" />

        <script>
    $(function () {
        $('#@btnID').click(function () {
            var split = ($('#@codesID').val() || '').split(',');
            Global.Helpers.ShowDialog('Select one or more payer(s)', "/Dialogs/CodeSelector", ["Close"], 960, 620, {
                ListID: Dns.Enums.Lists.ESPPrimaryPayer,
                Codes: split
            }).done(function (results) {
                if (!results)
                    return;

                var selectedCodes = results.map(function(i){ return i.Code; });
                $('#@codesID').val(selectedCodes);
                $('#@displaySelectedID').text(selectedCodes);
                $("form").formChanged(true);
            });
        });
    });
        </script>
    </div>
</div> 