﻿@model Lpp.Dns.HealthCare.ESPQueryBuilder.Models.ESPQueryBuilderModel
@{
    var id = Html.UniqueId();
    Layout = null;
}
<div class="SmokingSelectorTerm Term panel panel-default">
    <input name="TermName" value="SmokingSelector" hidden="hidden" style="display:none" />
    <div class="panel-heading">
        <div class="ui-button-remove"></div>
        Tobacco Use
    </div>
    <div id="@string.Format("binding-container{0}", id)" class="panel-body SmokingSelector">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:20px;"></th>
                    <th>Tobacco Use</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: Smokings-->
                <tr>
                    <td><input type="checkbox" data-bind="checkedValue:StratificationCategoryId, checked: $root.SelectedSmokings" /></td>
                    <td data-bind="text:CategoryText"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <input type="hidden" name="Smoking" id="@string.Format("Smoking{0}", id)" data-bind="value: SelectedSmokings" />
    </div>

    <script>
        $(function () {
            var jsonString = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SmokingSelections));
            var selectedString = ('@Model.Smoking' || '');
            /*if (selectedString.startsWith(',')) {
                selectedString = selectedString.substring(1);
            }*/
            ko.applyBindings({
                Smokings: ko.observableArray(jsonString),
                SelectedSmokings: ko.observableArray(selectedString.split(',').map(Number))
            }, $('#@string.Format("binding-container{0}", id)')[0]);
        });

    </script>
</div>